.container { max-width: 730px; }
.buttons{height:40px;position: relative;}
.button-add{position: absolute; right:20px;}
.customer-container{padding: 30px 0 10px;}
.table > tbody > tr > td {border: 0px;}
.body-container{margin-top: 70px;}
.button-auth{margin-left: 27px;}
.form-auth-hrading{margin: 10px 0 40px 0;}
.button-open-order{background-color: #CB9B9B; height: 20px; border-radius: 2px; margin: -10px 0 -10px 0;}
.button-open-packinglist{background-color: #CB9B9B; height: 20px; border-radius: 2px; margin: -10px 0 -10px 0;}
.button-add-good-in-order{margin: 0 0 0 10px;}
a[aria-expanded="true"] .button-open-order {background-color: #E3B574;}
.panel-heading{border-radius:10px;}